// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation {
  color: #f00;
  ul {
    // list-style: none;
    margin: 0 0 0px 0;
  }
}
