<div class='row'>
    <div class ="col-sm-8 col-sm-offset-2">
        <h2 class="center"><span class="wrapper">Mini Eventbrite</span></h2><br />
        <p>This app allows a user to create an account, create events and register for events.
           Some events can be joined by invitation only, and an event owner will have to approve the request.
        </p>
        <p> Please feel free to create a dummy account and play around.</p>
    </div>
</div>
